html(lang="zh-cmn-Hans")
	head
		meta(charset="utf-8")
		meta(
			name="X-UA-Compatible"
			content="IE=edge, Chrome=1"
		)
		meta(
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no"
		)
		meta(
			name="author"
			content="JSHonkers, https://github.com/JSHonkers/jshonkers.com"
		)
		meta(
			name="description"
			content="A technical community concerned with JavaScript"
		)
		block styles
	body
		block content
		block scripts
