extends ../base

block styles
	link(
		rel="stylesheet"
		href="//cdn.bootcss.com/normalize/4.2.0/normalize.min.css"
	)
	link(
		rel="stylesheet"
		href="//cdn.bootcss.com/flexboxgrid/6.3.0/flexboxgrid.min.css"
	)
	link(
		rel="stylesheet"
		href="//cdn.bootcss.com/hover.css/2.0.2/css/hover-min.css"
	)
	link(
		rel="stylesheet"
		href="//cdn.bootcss.com/pace/1.0.1/themes/black/pace-theme-minimal.min.css"
	)
	script(src="//cdn.bootcss.com/pace/1.0.2/pace.min.js")
	link(
		rel="stylesheet"
		href="/css/index.min.css"
	)

include components/content
